In [1]:
# Impor library yang dibutuhkan
import pandas as pd
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import re
import joblib
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [2]:
# --- Koneksi ke MongoDB ---
uri = "mongodb+srv://samuelchinson:test123@cluster0.bxaivdh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(uri, server_api=ServerApi('1'))
db = client['tokopedia_db']
collection = db['products']

# --- Muat data ke DataFrame ---
df = pd.DataFrame(list(collection.find({})))

# Tutup koneksi setelah selesai
client.close()

print(f"Data berhasil dimuat. Jumlah baris: {len(df)}")
df.head()

Data berhasil dimuat. Jumlah baris: 779

,_id,Toko,Nama Produk,Harga,Lokasi,Rating,Terjual,Ulasan,Cluster
0,68907e033f511b5b45207429,R-Omota,1 Set PC Gaming Dan Editing,5000000,Jakarta Timur,0.0,0,[gagal_scrape],NaN
1,68907e033f511b5b4520742b,iMba Thrift,PC Gaming Komputer ex Warnet,1999999,Tangerang Selatan,0.0,0,[gagal_scrape],NaN
2,68907e033f511b5b4520742d,POINT99 COMPUTER,PC GAMING INTEL CORE I3 10100F Gen 10 TERBARU,2850000,Bandung,4.9,100,[gagal_scrape],1.0
3,68907e033f511b5b4520742e,NONSTOP GADGET,Pc gaming murah premium package,3608000,Semarang,0.0,0,[gagal_scrape],NaN
4,68907e033f511b5b4520742f,NearH,Meja Gaming / Gaming Desk / Meja PC Black Rave...,5499000,Jakarta Timur,0.0,0,[gagal_scrape],NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779 entries, 0 to 778
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          779 non-null    object
 1   Toko         779 non-null    object
 2   Nama Produk  779 non-null    object
 3   Harga        779 non-null    int64
 4   Lokasi       779 non-null    object
 5   Rating       779 non-null    float64
 6   Terjual      779 non-null    int64
 7   Ulasan       20 non-null     object
 8   Cluster      303 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 54.9+ KB

In [4]:
df_clean = df[df['Harga'] > 1000000].copy()

In [5]:
df_clean = df_clean[df_clean['Nama Produk'].str.contains('pc|rakitan|laptop', case=False, na=False)]

In [6]:
df_clean.head()

,_id,Toko,Nama Produk,Harga,Lokasi,Rating,Terjual,Ulasan,Cluster
0,68907e033f511b5b45207429,R-Omota,1 Set PC Gaming Dan Editing,5000000,Jakarta Timur,0.0,0,[gagal_scrape],NaN
1,68907e033f511b5b4520742b,iMba Thrift,PC Gaming Komputer ex Warnet,1999999,Tangerang Selatan,0.0,0,[gagal_scrape],NaN
2,68907e033f511b5b4520742d,POINT99 COMPUTER,PC GAMING INTEL CORE I3 10100F Gen 10 TERBARU,2850000,Bandung,4.9,100,[gagal_scrape],1.0
3,68907e033f511b5b4520742e,NONSTOP GADGET,Pc gaming murah premium package,3608000,Semarang,0.0,0,[gagal_scrape],NaN
4,68907e033f511b5b4520742f,NearH,Meja Gaming / Gaming Desk / Meja PC Black Rave...,5499000,Jakarta Timur,0.0,0,[gagal_scrape],NaN

In [7]:
def extract_cpu_model(name):
    """Mengekstrak model CPU yang lebih spesifik, contoh: 'i7-12700'."""
    # Pola ini mencari i3/i5/i7/i9 atau ryzen 3/5/7/9 diikuti oleh angka modelnya
    match = re.search(r'((i[3579]|ryzen\s?[3579])[\s-]\w+)', name, re.IGNORECASE)
    return match.group(1).lower().replace(" ", "") if match else None

def extract_gpu_model(name):
    """Mengekstrak model GPU yang lebih spesifik, contoh: 'rtx3060ti'."""
    # Pola ini mencari rtx/gtx/rx diikuti 4 digit, dan juga kata 'ti' atau 'super'
    match = re.search(r'((rtx|gtx|rx)[\s-]?\d{4}(\s?ti|\s?super)?)', name, re.IGNORECASE)
    return match.group(1).lower().replace(" ", "") if match else None

def extract_ram_size(name):
    """Mengekstrak ukuran RAM, contoh: '16GB'."""
    match = re.search(r'(\d{1,2})\s?(gb|g)', name, re.IGNORECASE)
    # Kita hanya ambil angkanya saja untuk kemungkinan analisis numerik di masa depan
    return int(match.group(1)) if match else None

def extract_storage(name):
    """Mengekstrak informasi storage (ukuran dan tipe)."""
    # Mencari pola seperti '512gb ssd', '1tb hdd', '1 tb ssd'
    match = re.search(r'(\d{3,4}\s?gb\s?ssd|\d\s?tb\s?ssd|\d\s?tb\s?hdd)', name, re.IGNORECASE)
    if match:
        return match.group(0).lower().replace(" ", "")
    # Jika tidak ketemu tipe, coba cari ukurannya saja
    match = re.search(r'(\d{3,4}\s?gb|\d\s?tb)', name, re.IGNORECASE)
    return match.group(0).lower().replace(" ", "") if match else None

In [8]:
# Menggunakan df_clean dari CELL 2
df_featured = df_clean.copy()

df_featured['CPU_Model'] = df_featured['Nama Produk'].apply(extract_cpu_model)
df_featured['GPU_Model'] = df_featured['Nama Produk'].apply(extract_gpu_model)
df_featured['RAM_Size'] = df_featured['Nama Produk'].apply(extract_ram_size)
df_featured['Storage'] = df_featured['Nama Produk'].apply(extract_storage)

df_featured.dropna(subset=['CPU_Model', 'GPU_Model'], inplace=True)

print("\nJumlah nilai non-null untuk setiap fitur baru:")
print(df_featured[['CPU_Model', 'GPU_Model', 'RAM_Size', 'Storage']].info())

print(f"\nJumlah baris setelah menghapus data tanpa CPU/GPU: {len(df_featured)}")

Jumlah nilai non-null untuk setiap fitur baru:
<class 'pandas.core.frame.DataFrame'>
Index: 430 entries, 24 to 767
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CPU_Model  430 non-null    object
 1   GPU_Model  430 non-null    object
 2   RAM_Size   361 non-null    float64
 3   Storage    179 non-null    object
dtypes: float64(1), object(3)
memory usage: 16.8+ KB
None

Jumlah baris setelah menghapus data tanpa CPU/GPU: 430

In [9]:
df_featured.isnull().sum()

_id              0
Toko             0
Nama Produk      0
Harga            0
Lokasi           0
Rating           0
Terjual          0
Ulasan         430
Cluster        265
CPU_Model        0
GPU_Model        0
RAM_Size        69
Storage        251
dtype: int64

In [10]:
df_featured.dropna(subset=['CPU_Model', 'GPU_Model', 'RAM_Size', 'Storage'], inplace=True)

In [11]:
features = ['CPU_Model', 'GPU_Model', 'Storage', 'RAM_Size', 'Rating', 'Terjual']
target = 'Harga'

X = df_featured[features]
y = df_featured[target]

In [12]:
categorical_features = ['CPU_Model', 'GPU_Model', 'Storage']
numerical_features = ['RAM_Size', 'Rating', 'Terjual']

numeric_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='median'))])

categorical_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent')), ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(transformers=[('num', numeric_transformer, numerical_features), ('cat', categorical_transformer, categorical_features)],remainder='passthrough')
print("Preprocessor dengan imputer berhasil dibuat.")

Preprocessor dengan imputer berhasil dibuat.

In [13]:
# Bagi data menjadi data training dan data testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
X_train_processed = preprocessor.fit_transform(X_train)
model.fit(X_train_processed, y_train)

X_test_processed = preprocessor.transform(X_test)
y_pred = model.predict(X_test_processed)

# Hitung metrik evaluasi
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f"--- Hasil Evaluasi Model ---")
print(f"Root Mean Squared Error (RMSE): Rp {rmse:,.0f}")
print(f"R-squared (R2 Score): {r2:.2f}")

--- Hasil Evaluasi Model ---
Root Mean Squared Error (RMSE): Rp 7,484,741
R-squared (R2 Score): 0.89

In [14]:
# Simpan model yang sudah dilatih
joblib.dump(model, 'price_model.pkl')

# Simpan juga preprocessor-nya, ini SANGAT PENTING
joblib.dump(preprocessor, 'preprocessor.pkl')

['preprocessor.pkl']